.navbar {
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
}

.navbar-left h2 {
    margin: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 30px;
    margin-right: 10px;
}

.navbar-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold; /* Set links to bold */
}

.navbar-links a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: #3f3f3f; /* Keep text color on hover */
}

.signup-link {
    color: #007bff;
    border: 2px solid #007bff;
    padding: 8px 16px;
    border-radius: 5px;
}

.signup-link:hover {
    background-color: #007bff;
    color: #fff;
}

.private-link {
    color: #ff0000;
    border: 2px solid #ff0000;
    padding: 8px 16px;
    border-radius: 5px;
}

.private-link:hover {
    background-color: #ff0000;
    color: #fff;
}

.back-to-homepage {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back-to-homepage:hover {
    text-decoration: none;
}