.navbar {
    background-color: transparent; /* Set the navbar background color to transparent */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; /* Remove padding */
    margin: 0;
    position: absolute; /* Position the navbar absolutely */
    top: 20px; /* Align navbar to the top of the page */
    left: 0; /* Align navbar to the left of the page */
    right: 0; /* Align navbar to the right of the page */
    z-index: 2; /* Ensure the navbar appears above the banner */
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar-logo {
    height: 30px;
    margin-right: 10px;
}

.navbar-title {
    margin: 0; /* Remove margin */
    font-size: 24px; /* Adjust font size */
}

.navbar-links {
    margin-right: 20px; /* Adjust margin */
}

.navbar-left h2 {
    margin: 0;
}

.navbar-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold; /* Set links to bold */
}

.navbar-links a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: #3f3f3f; /* Keep text color on hover */
}

.signup-link {
    color: #007bff;
    border: 2px solid #007bff;
    padding: 8px 16px;
    border-radius: 5px;
}

.signup-link:hover {
    background-color: #007bff;
    color: #fff;
}

.private-link {
    color: #ff0000;
    border: 2px solid #ff0000;
    padding: 8px 16px;
    border-radius: 5px;
}

.private-link:hover {
    background-color: #ff0000;
    color: #fff;
}

.back-to-homepage {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back-to-homepage:hover {
    text-decoration: none;
}